body {
  margin: 0;
  font-size: 14px;
  font-family: Ubuntu, sans-serif;
}

#root {
  width: 100%;
  min-width: 20em;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  overflow-x: hidden;
}

#logo {
  width: 10em;
}

#logo-container {
  padding: 0.5em;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  z-index: 999;
}

#main {
  width: 100%;
  background: #E7ECF5;
  padding: 1em 0.5em 1em 0.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.button {
  padding: 1em;
  border-radius: 20px;
  background-color: #8cab73;
  color: #fff;
}

input {
  margin-bottom: 1em;
  border: none;
  padding: 0.5em;
  box-shadow: 0 1px 10px 0 rgba(120, 120, 120, 0.3);
  border-radius: 50px;
  outline: none;
  width: 40%;
}

#obs-count-input {
  display: none;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}
